In [33]:
import streamlit as st
from streamlit_pandas_profiling import st_profile_report
# import pandas_profiling
from ydata_profiling import ProfileReport
import pandas as pd

In [4]:
# pd.read_csv('dataset.csv')
df=pd.read_csv('laptop_data.csv')
df.drop("Unnamed: 0", axis=1)

,Company,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price
0,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,71378.6832
1,Apple,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,47895.5232
2,HP,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,30636.0000
3,Apple,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,135195.3360
4,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,96095.8080
...,...,...,...,...,...,...,...,...,...,...,...
1298,Lenovo,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,33992.6400
1299,Lenovo,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,79866.7200
1300,Lenovo,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,12201.1200
1301,HP,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,40705.9200
1302,Asus,Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,19660.3200

In [20]:
import pandas as pd
# import pandas_profiling
import streamlit as st

from streamlit_pandas_profiling import st_profile_report

df = pd.read_csv("https://storage.googleapis.com/tf-datasets/titanic/train.csv")
pr = df.profile_report()

st_profile_report(pr)

2024-02-01 18:04:30.045
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\zeesh\anaconda3\envs\forecating_env\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

In [2]:
import pandas as pd
import numpy as np
import datetime

# Generate a sample time series dataset
date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
data = {
    'Date': date_rng,
    'Feature1': np.random.rand(len(date_rng)),
    'Feature2': np.random.rand(len(date_rng)),
    'Target': np.sin(np.linspace(0, 2 * np.pi, num=len(date_rng))) + np.random.normal(scale=0.1, size=len(date_rng))
}

df = pd.DataFrame(data)
df
df.to_csv('time_data.csv', index=False)

In [4]:
pip show pycaret

Name: pycaret
Version: 3.2.0
Summary: PyCaret - An open source, low-code machine learning library in Python.
Home-page: https://github.com/pycaret/pycaret
Author: Moez Ali
Author-email: moez.ali@queensu.ca
License: MIT
Location: c:\users\zeesh\anaconda3\envs\forecating_env\lib\site-packages
Requires: category-encoders, cloudpickle, deprecation, imbalanced-learn, importlib-metadata, ipython, ipywidgets, jinja2, joblib, kaleido, lightgbm, markupsafe, matplotlib, nbformat, numba, numpy, pandas, plotly, plotly-resampler, pmdarima, psutil, pyod, requests, schemdraw, scikit-learn, scikit-plot, scipy, sktime, statsmodels, tbats, tqdm, xxhash, yellowbrick
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [5]:
from pycaret.internal.utils import check_metric

ModuleNotFoundError: No module named 'pycaret.internal.utils'

In [18]:
import numpy as np

In [2]:
df= pd.read_csv('dataset.csv')
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,0092_03,Earth,True,G/9/P,TRAPPIST-1e,3.0,False,0.0,0.0,0.0,0.0,0.0,Tiney Hewson,True
88,0097_01,Europa,False,A/2/S,TRAPPIST-1e,54.0,False,0.0,1208.0,0.0,3.0,637.0,Alchium Fictful,False
89,0098_01,Earth,False,G/11/P,TRAPPIST-1e,26.0,False,0.0,856.0,5.0,32.0,0.0,Doria Carezquez,False
90,0098_02,Earth,False,G/11/P,TRAPPIST-1e,26.0,False,0.0,2811.0,957.0,0.0,87.0,Leence Carezquez,True
91,0099_01,Earth,False,F/19/P,PSO J318.5-22,23.0,False,311.0,427.0,526.0,37.0,0.0,Aliey Leetersoney,False

In [20]:
df['Transported']=df['Transported'].map({True:1,False:0})
# np.where(df['Transported']==True,1,0)

In [22]:
df.to_csv('dataset1.csv', index=False)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   92 non-null     object
 1   HomePlanet    91 non-null     object
 2   CryoSleep     92 non-null     bool
 3   Cabin         91 non-null     object
 4   Destination   91 non-null     object
 5   Age           90 non-null     float64
 6   VIP           91 non-null     object
 7   RoomService   89 non-null     float64
 8   FoodCourt     92 non-null     float64
 9   ShoppingMall  85 non-null     float64
 10  Spa           91 non-null     float64
 11  VRDeck        91 non-null     float64
 12  Name          88 non-null     object
 13  Transported   92 non-null     bool
dtypes: bool(2), float64(6), object(6)
memory usage: 8.9+ KB

In [4]:
df.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported'],
      dtype='object')

In [23]:
df.select_dtypes('object').columns

Index(['PassengerId', 'HomePlanet', 'Cabin', 'Destination', 'VIP', 'Name'], dtype='object')

In [25]:
df['PassengerId'].unique()

array(['0001_01', '0002_01', '0003_01', '0003_02', '0004_01', '0005_01',
       '0006_01', '0006_02', '0007_01', '0008_01', '0008_02', '0008_03',
       '0009_01', '0010_01', '0011_01', '0012_01', '0014_01', '0015_01',
       '0016_01', '0017_01', '0017_02', '0020_01', '0020_02', '0020_03',
       '0020_04', '0020_05', '0020_06', '0022_01', '0024_01', '0025_01',
       '0026_01', '0028_01', '0030_01', '0031_01', '0031_02', '0031_03',
       '0034_01', '0035_01', '0036_01', '0038_01', '0039_01', '0041_01',
       '0043_01', '0044_01', '0044_02', '0044_03', '0045_01', '0045_02',
       '0050_01', '0051_01', '0052_01', '0053_01', '0056_01', '0056_02',
       '0056_03', '0058_01', '0061_01', '0062_01', '0064_01', '0064_02',
       '0066_01', '0067_01', '0067_02', '0067_03', '0068_01', '0069_01',
       '0070_01', '0071_01', '0072_01', '0073_01', '0074_01', '0076_01',
       '0077_01', '0078_01', '0081_01', '0082_01', '0082_02', '0082_03',
       '0084_01', '0085_01', '0086_01', '0088_01', '0090_01', '0091_01',
       '0091_02', '0092_01', '0092_02', '0092_03', '0097_01', '0098_01',
       '0098_02', '0099_01'], dtype=object)

In [26]:
df['HomePlanet'].unique()

array(['Europa', 'Earth', 'Mars', nan], dtype=object)

In [27]:
df['Cabin'].unique()

array(['B/0/P', 'F/0/S', 'A/0/S', 'F/1/S', 'F/0/P', 'F/2/S', 'G/0/S',
       'F/3/S', 'B/1/P', 'F/1/P', 'G/1/S', 'F/2/P', nan, 'F/3/P', 'F/4/P',
       'F/5/P', 'G/0/P', 'F/6/P', 'E/0/S', 'D/0/P', 'C/2/S', 'F/6/S',
       'C/0/P', 'F/8/P', 'G/4/S', 'F/9/P', 'D/1/S', 'D/1/P', 'F/8/S',
       'F/10/S', 'G/1/P', 'G/2/P', 'B/3/P', 'G/3/P', 'F/10/P', 'E/1/S',
       'E/2/S', 'G/6/S', 'F/11/S', 'A/1/S', 'G/7/S', 'F/12/S', 'F/13/S',
       'F/14/S', 'E/3/S', 'G/6/P', 'G/10/S', 'F/15/S', 'E/4/S', 'F/16/S',
       'F/13/P', 'F/14/P', 'F/17/S', 'D/3/P', 'C/3/S', 'F/18/S', 'F/15/P',
       'C/4/S', 'G/13/S', 'F/16/P', 'G/14/S', 'C/5/S', 'F/17/P', 'E/5/S',
       'G/15/S', 'G/16/S', 'F/20/S', 'G/9/P', 'A/2/S', 'G/11/P', 'F/19/P'],
      dtype=object)

In [28]:
df['Destination'].unique()

array(['TRAPPIST-1e', 'PSO J318.5-22', '55 Cancri e', nan], dtype=object)

In [ ]:
df['VIP'].unique()

In [29]:
df['Name'].unique()

array(['Maham Ofracculy', 'Juanna Vines', 'Altark Susent', 'Solam Susent',
       'Willy Santantines', 'Sandie Hinetthews', 'Billex Jacostaffey',
       'Candra Jacostaffey', 'Andona Beston', 'Erraiam Flatic',
       'Altardr Flatic', 'Wezena Flatic', 'Berers Barne',
       'Reney Baketton', 'Elle Bertsontry', 'Justie Pooles',
       'Flats Eccle', 'Carry Hughriend', 'Alus Upead', 'Lyde Brighttt',
       'Philda Brighttt', 'Almary Brantuarez', 'Glendy Brantuarez',
       'Mollen Mcfaddennon', 'Breney Jacostanley', 'Mael Brantuarez',
       'Terta Mcfaddennon', nan, 'Penton Fullided', 'Karard Brookenson',
       'Anyoni Unconary', 'Ceros Mare', 'Ginia Morsentley',
       'Coobix Datie', 'Cinets Datie', 'Dontch Datie', 'Ziba Oingwhedly',
       'Luse Butte', 'Marina Leodger', 'Loise Wheelez',
       'Jorgie Batthewitt', 'Margia Moodsey', 'Ankalik Cylistrand',
       'Jodye Coopelandez', 'Kayne Coopelandez', 'Cassa Coopelandez',
       'Zelowl Chmad', 'Mass Chmad', 'Sony Lancis', 'Vivia Johnshines',
       'Elaney Hubbarton', 'Elson Hickerson', 'Okulas Tractive',
       'Instab Tractive', 'Zinoces Tractive', 'Warry Ayalazquez',
       'Shanya Salez', 'Sterry Greeves', 'Colatz Keen',
       'Diandy Pecketton', 'Ninaha Leeves', 'Celine Leeves',
       'Velyne Leeves', 'Cinst Binie', 'Meremy Brighttt',
       'Nelly Dillines', 'Thell Brantuarez', 'Gorn Make',
       'Aldibah Mostedry', 'Conk Dal', 'Pon BlitÃ©', 'Spuri Pokerheed',
       'Dellie Vinozarks', 'Totse Datte', 'Eaturs Datte',
       'Coren Coopezmaney', 'Furudah Ellcefulve', 'Jodye Kinson',
       'Stmeal Sacre', 'Heremy Santry', 'Deanne Yorkland',
       'Tinez Yorkland', 'Gracy Dunnisey', 'Stald Hewson', 'Tiney Hewson',
       'Alchium Fictful', 'Doria Carezquez', 'Leence Carezquez',
       'Aliey Leetersoney'], dtype=object)

In [32]:
import pandas as pd

# Sample DataFrame with a categorical column
data = {'Category1': ['A', 'B', 'A', 'C', 'B'],'Category2': ['A', 'B', 'A', 'C', 'B']}
df = pd.DataFrame(data)
# Using pd.get_dummies with drop=True
df_encoded = pd.get_dummies(df, columns=['Category1'], prefix='category')
# Display the resulting DataFrame
df_encoded

  Category2  category_A  category_B  category_C
0         A           1           0           0
1         B           0           1           0
2         A           1           0           0
3         C           0           0           1
4         B           0           1           0